:root {
  --primary-color: #f44336; /* Rojo */
  --secondary-color: #343A40; /* Gris oscuro */
  --background-color: #242424; /* Negro */
  --text-color: #FFFFFF; /* Blanco */
  --border-color: #CED4DA; /* Gris claro */
  --hover-color: #d32f2f; /* Rojo oscuro */
  --danger-color: #b71c1c; /* Rojo más oscuro */
  --font-family: 'Roboto', sans-serif;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-color);
}

/* General styles */
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column; /* Cambiado para permitir scroll */
  height: auto; /* Cambiado para permitir contenido dinámico */
  overflow-y: auto; /* Permitir scroll vertical */
  width: 100%;
}

#root {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-align: center;
}

.container {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 90%; /* Ocupa todo el ancho de la pantalla */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container .btn {
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid var(--border-color);
  word-wrap: break-word; /* Ajusta el texto dentro de las celdas */
}

th {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
}

td {
  background-color: var(--secondary-color);
  vertical-align: middle; /* Centra contenido verticalmente */
}

td:last-child {
  display: flex;
  gap: 0.5rem; /* Espaciado entre botones */
  justify-content: flex-start; /* Alinea los botones al inicio */
}

tr:hover td {
  background-color: var(--hover-color);
  color: var(--text-color);
}

/* Botones de acciones */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Centrar contenido */
  gap: 0.25rem; /* Espaciado entre el ícono y el texto */
  width: 100px; /* Tamaño uniforme */
  height: 40px; /* Tamaño uniforme */
}

button:hover {
  background-color: var(--hover-color);
}

button:focus {
  outline: none;
}

button svg {
  font-size: 1.2rem;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.danger {
  background-color: var(--danger-color);
}

button.danger:hover {
  background-color: #9a0007;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
}

select:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

/* Input styles */
input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: var(--hover-color);
}

.pagination button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: var(--hover-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content img {
  margin: 1rem auto;
  display: block;
  width: 200px;
  height: 200px;
}

modal-content button {
  margin-top: 1rem;
}

.qr-container {
  text-align: center;
}

.qr-container img {
  margin: 1rem auto;
  display: block;
  width: 200px;
  height: 200px;
}

.qr-container button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color); /* Rojo */
  color: var(--text-color); /* Blanco */
  cursor: pointer;
  transition: background-color 0.3s;
}

.qr-container button:hover {
  background-color: var(--hover-color); /* Rojo oscuro */
}

.qr-container button:focus {
  outline: none;
}

.qr-container .button-group {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaciado entre botones */
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color); /* Rojo */
  color: var(--text-color); /* Blanco */
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--hover-color); /* Rojo oscuro */
}

.btn:focus {
  outline: none;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo */
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: var(--primary-color);
  }
}
